<head>
  <title>Smack Chat</title>

  <link href="/css/globalChat.css" rel="stylesheet" type="text/css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>




  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-2 chat_rooms">         <!-- left column -->
        <!-- stretch goal of making private chatrooms and listing them here-->
        <!-- currently modified to display selected user's information -->

        <div><span id="userInfoArea" class="hidden"><h3><!-- userName --></h3></span>
          <ul id="userInfoDisplay"></ul>
        </div>
      </div>



      <div class="col-lg-8 text_field">         <!-- center text field -->
        <ul id="messages"></ul>
        <form id="messageForm" action="">
          <input id="m" autocomplete="off" /><button>Send</button>
        </form>
      </div>



      <div class="col-xs-2 users_column">        <!-- right column aka "Logged In Users Column" -->
        <div>LoggedIn Users
          <ul id="loggedIn"></ul>
        </div>
        <form action="logout">
          <button><a href="/logout" class="button">Logout</a></button>
        </form>
      </div>
    </div>
  </div>

    <script>
    var socket = io();
    $('#messageForm').submit(function(){                          // writing and displaying messages

      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });

    socket.on('currentusers', function(names){                  // displaying currently logged in users
      //console.log("names = ", names)
      $("#loggedIn").empty();
      for(var i = 0; i < names.length; i++){
        $("#loggedIn").append($('<li>').text(names[i]));
      }
    });

    $('#loggedIn').on('click', function(event){                                   // displaying user information about a specific user
      window.document.getElementById("userInfoArea").innerHTML = ""               // clear existing information... clears everything.
      window.document.getElementById("userInfoArea").className = ""               // remove hidden class
      window.document.getElementById("userInfoDisplay").innerHTML = "" 
      $("#userInfoArea").prepend($('<h3>').text(event.target.innerHTML + "'s Information"))
      
      socket.emit("userReq", event.target.innerHTML)                              // send html element server side
      
      socket.on("userInfo", function(userHash){                                   // recieve users information from database
        // console.log(userHash)
        // console.log("userHash.name = ", userHash.name)
        // console.log("userHash.email = ", userHash.email)
        // console.log("userHash.city = ", userHash.city)
        window.document.getElementById("userInfoDisplay").innerHTML = "" 
        $("#userInfoDisplay").append($('<li>').text("Username: " + event.target.innerHTML))       // add username from innerHTML
        $("#userInfoDisplay").append($('<li>').text("User's Name: " + userHash.name))             // add user's name from database
        $("#userInfoDisplay").append($('<li>').text("User Email: " + userHash.email))             // add users email from database
        $("#userInfoDisplay").append($('<li>').text("User City: " + userHash.city))               // add users city from database
      })

    })

  </script>
</body>





