
<h1>Login Page</h1>

<form action="/globalchat" method="POST">

    <label for="userName">UserName: </label>
    <input id="userName" type="text" name="userName" >
    <label for="inputPass">Password: </label>
    <input id="inputPass" type="password" name="inputPass">

    <input type="submit" value="Login">
 
</form>


<a href="/newUser"> Dont have an account? Create one here.</a>
