<<<<<<< HEAD
<h1>Login Page</h1
<form> </form>
<form action="/globalchat" method="POST">
=======
<h1>Login Page</h1>

<form action="/globalChat" method="GET">
  <p>
>>>>>>> 29d5cf35669ab61248bbb0f509becd55c1af621f
    <label for="userName">UserName: </label>
    <input id="userName" type="text" name="userName" >
    <label for="userPass">Password: </label>
    <input id="userPass" type=password name="userPass">

    <input type="submit" value="Login">
 
</form>


<a href="/newUser"> Dont have an account? Create one here.</a>
