<h1>Login Page</h1>

<form action="/globalchat" method="POST">
  <p>
    <label for="userName">UserName: </label>
    <input id="userName" type="text" name="userName" required>
    <label for="userPass">Password: </label>
    <input id="userPass" type="password" name="userPass">

    <input type="submit" value="Login">
  </p>
</form>


<a href="/newUser">Dont have an account? Create one here.</a>