<h1>Login Page</h1
<form> </form>
<form action="/globalchat" method="POST">
    <label for="userName">UserName: </label>
    <input id="userName" type="text" name="userName" >
    <label for="userPass">Password: </label>
    <input id="userPass" type="password" name="userPass">

    <input type="submit" value="Login">
 
</form>


<a href="/newUser"> Dont have an account? Create one here.</a>
