<html>
<title>LogIn Page</title>
<head>
</head>

<body>

  <h1>Login Page</h1>

  <form action="/index" id="loginForm" method="POST">

    <label for="userName">UserName: </label>
    <input id="userName" type="text" name="userName" >
    <label for="inputPass">Password: </label>
    <input id="inputPass" type="password" name="inputPass">

    <input type="submit" value="Login">

  </form>


  <a href="/newUser"> Dont have an account? Create one here.</a>


</body>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="../app.js"></script>
</html>