<h1>Login Page</h1>

<form>
  <p>
    <label for="userName">UserName: </label>
    <input id="userName" type="text" name="signIn" required>
    <label for="userPass">Password: </label>
    <input id="userPass" type="password" name="userPass">

    <input type="submit" value="Login">
  </p>
</form>


<p>Dont have an account? Create one here.</p>